extends layouts/layout.pug

block content
  main#main
    h2 This is the home page
    if user
      b Email: 
      span #{user.email}
      br
      b Username: 
      span #{user.username}
      form(method='post' action='/api/v1/auth/logout')
        button(type='submit') Logout
    else
      form(method='get' action='/api/v1/auth/login')
        button(type='submit') Login