extends layouts/layout.pug

block content
  main#main
    form(method='post')
      input(type='text' name='email' placeholder='email' autofocus)
      input(type='password' name='password' placeholder='password')
      button(type="submit") Submit